<!-- Contact Plank Component -->
<section id="contact" class="contact-plank section-padding">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="content-wrap">
          <h2 class="headline">Have general questions?</h2>
          <p class="large subhead">Email us at <a href="mailto:support@tipyo.net" title="TipYo Support">support@tipyo.net</a> (you'll hear back within 24 hours)</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Contact Plank Component -->