{% set video = true %}

<section class="mobile-card-switcher section-padding">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="headline">Use Your Phone to Securely Tip</h2>
        <hr class="short-rule" />
        <div class="mobile-card-switcher--wrapper">

          {% for item in mobileSwitcherItems %}
          <div class="mobile-card-switcher--item {% if loop.index == 1 %}active{% endif %}">
            <div class="card">
              <h3 class="title">Step {{loop.index}}</h3>
              <p class="description">{{item.description}}</p>
            </div>
            <div class="image-in-device">
              <div class="image-wrap">
                {% if video %}
                <video poster="video/{{item.imgPrefix}}.jpg" autoplay loop playsinline muted>
                  <source src="video/{{item.imgPrefix}}.webm" type="video/webm">
                  <source src="video/{{item.imgPrefix}}.mp4" type="video/mp4">
                  Sorry, your browser doesn't support embedded videos.
                </video>
                {% else %}
                <img src="images/{{item.imgPrefix}}.jpg" alt="Step {{loop.index}}">
                {% endif %}
              </div>
              <img class="device-mockup" src="images/iphone-x-mockup.png" alt="iPhone X">
            </div>
          </div>
          {% endfor %}

        </div>
      </div>
    </div>
  </div>
</section>