<!-- Two Column Contact Component -->
<section id="contact" class="two-column-contact">
	<div class="two-column-contact--col general">
    <div class="content-wrap">
      <h3 class="headline">Have general questions?</h3>
      <p class="large subhead">Email us at <a href="mailto:support@tipyo.net" title="TipYo Support">support@tipyo.net</a> (you'll hear back within 24 hours)</p>
    </div>
    <svg width="22" height="379" viewBox="0 0 22 379" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 379L22 0H0v379z" fill="#F4F3F0"/></svg>
	</div>
	<div class="two-column-contact--col special">
    <div class="content-wrap">
      <h3 class="headline">In hospitality and interested in TipYo?</h3>
      <p class="large subhead">We can do a brief consultation.</p>
      <a href="#" class="btn">Schedule Now</a>
    </div>
  </div>
</section>
<!-- End Two Column Contact Component -->