/**********************************************
 Contact Plank Component Styles
**********************************************/
.contact-plank {
  background: $tan;

  .content-wrap {
    text-align: center;

    .subhead {
      margin: 0;
    }
  }
}