// Colors
///////////////////////////////////////////////
$black: #231F20;
$shadow-black: #1A1200;
$green: #00BC70;
$red: #EB5541;
$dark-tan: #D6D1C4;
$tan: #F4F3F0;
$white-sand: #FAF9F8;

$green-gradient: rgba(0, 188, 112, .27), rgba(116, 235, 86, .27);
$blue-gradient: rgba(8, 134, 205, .27), rgba(86, 226, 235, .27);
$orange-gradient: rgba(205, 102, 8, .27), rgba(235, 175, 86, .27);

// Type
///////////////////////////////////////////////
$body-font: 'Lato', 'Helvetica', 'Arial', sans-serif;
$heading-font: 'Qanelas Soft', sans-serif; 

// Buttons
///////////////////////////////////////////////
$btn-timing-function: cubic-bezier(.17,.67,.5,1);
$ease-out-quartic: cubic-bezier(.17,.84,.44,1);

// Header
///////////////////////////////////////////////
$header-height: 80px;
$header-height-mobile: 60px;

// Sections
///////////////////////////////////////////////
$section-padding-sm: 60px;
$section-padding-md: 80px;
$section-padding-lg: 100px;
$section-padding-xl: 120px;