{% extends "layout.nunjucks" %}

{% block content %}

{% include "partials/header.html" %}

<section class="homepage-hero section-top-padding">
	<div class="container">
		<div class="row">
			<div class="col">

				<div class="homepage-hero--content">
					<h1 class="headline display">Touchless Tipping</h1>
					<p class="largest">TipYo is a secure mobile tipping solution partnering with hospitality companies to enable travelers to safely express their gratitude to service staff while practicing physical distancing.</p>
				</div>

				<div class="homepage-hero--industry-cards">
					<div class="card flex-center" style="background-image: linear-gradient(rgba(35, 31, 32, .5), rgba(35, 31, 32, .5)), url('images/housekeeper-cleaning-hotel-room.jpg')">
						<div class="card-content">
							<h6 class="for">For</h6>
							<h2 class="headline">Hospitality Companies</h2>
							<p class="large subhead">TipYo provides a mobile tipping solution for your guests and an affordable human resource benefit for your staff.</p>
							<a class="btn" href="hospitality-companies.html">Learn More</a>
						</div>
					</div>

					<div class="card flex-center" style="background-image: linear-gradient(rgba(35, 31, 32, .5), rgba(35, 31, 32, .5)), url('images/man-and-woman-riding-vespa.jpg')">
						<div class="card-content">
							<h6 class="for">For</h6>
							<h2 class="headline">Travelers</h2>
							<p class="large subhead">The TipYo App enables you to securely tip staff at participating locations.</p>
							<a class="btn" href="travelers.html">Learn More</a>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>	
</section>

<div class="homepage-hero--bottom-spacer"></div>

{% include "partials/mobile-card-switcher.component.html" %}

<section class="who-benefits section-padding">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h2 class="headline">Who Benefits from Touchless Tipping? Everyone!</h2>
			</div>
			<div class="col-md-4 who-benefits--col">
				<div class="image-bubble travelers">
					<img src="images/business-traveler-750.jpg" alt="Travelers">
				</div>
				<h3 class="title">Travelers</h3>
				<ul>
					<li>Convenience from mobile phone.</li>
					<li>No more hunting for loose bills; tip based on level of service &mdash; not what's in your wallet.</li>
					<li>Secure</li>
					<li>Safe &mdash; no direct contact needed.</li>
				</ul>
			</div>
			<div class="col-md-4 who-benefits--col">
				<div class="image-bubble associates">
					<img src="images/hotel-staff-750.jpg" alt="Associates">
				</div>
				<h3 class="title">Associates</h3>
				<ul>
					<li>Associates get recognized and rewarded for their hard work.</li>
					<li>Increased take home pay.</li>
					<li>Solves the headwinds that cashless society has on their income.</li>
					<li>Eliminates direct contact between guests and associates.</li>
				</ul>
			</div>
			<div class="col-md-4 who-benefits--col">
				<div class="image-bubble hospitality-companies">
					<img src="images/hotel-lobby-750.jpg" alt="Hospitality Companies">
				</div>
				<h3 class="title">Hospitality Companies</h3>
				<ul>
					<li>Meeting guests' expectations</li>
					<li>Affordable human resource benefit.</li>
					<li>Payment integration with payroll system to meet IRS and regulatory requirements.</li>
					<li>Partner with a company that has significant experience in financial payments.</li>
					<li>Meets revised standard of care guidelines.</li>
				</ul>
			</div>
		</div>
	</div>
</section>

{% include "partials/footer.html" %}
	
{% endblock %}